---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "@/styles/globals.css";
import { Input } from "@/components/ui/input";
---

<Layout title="Name a Woman">
  <main
    class="min-h-svh bg-slate-100 dark:bg-slate-900 flex items-center justify-center flex-col"
  >
    <h1 class="text-5xl font-bold">Name a woman</h1>
    <Input
      className="input self-center"
      type="email"
      placeholder="Name a real woman famous enough to have a Wikipedia page"
    />
  </main>
</Layout>

<script>
  import { supabase } from "@/lib/supabase";

  // Find the input with the `main-input` class
  const input = document.querySelector<HTMLInputElement>("input.input");

  let timeoutId: number | undefined; // Variable to store the timeout ID

  // Handle input events on the input field
  input?.addEventListener("input", (e) => {
    const target = e.target as HTMLInputElement;

    // Clear the previous timeout
    if (timeoutId) {
      clearTimeout(timeoutId);
    }

    // Set a new timeout to log the input value after 500ms of inactivity
    timeoutId = window.setTimeout(async () => {
      const searchTerm = target.value;

      // Perform the fuzzy search on the "women" table
      const { data, error } = await supabase.rpc("search_woman", {
        input_name: searchTerm,
      });

      if (error) {
        console.error("Error fetching data:", error);
      } else {
        console.log(data);
      }
    }, 150);
  });
</script>
